body {
    margin: 0;
}

body > header {
    padding: 8px;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header >  nav > ul {
    list-style: none;
}

body > header > nav > ul > li {
    display: inline;
    padding: 6px;
}

body > header > nav > ul > li > a {
    color: white;
}

body > footer {
    margin: 0;
    padding: 4px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

section .comment {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: darkgray;
}

#main-article {
    padding: 15px;
}


#top-section {
    display: flex;
    width: 80%;
    margin: auto;
}

#login-form {
    display: flex;
    flex-direction: column;

}

#login-form > input {
    margin-top: 4px;
}

#side-bar {
    padding: 16px;
}

.news-story {
    display: flex;
    padding-top: 16px;

}

.news-story > main {
    padding-left: 8px;
}

#main-article {
    width: 80%;
    margin: auto;
}

#comment-section {
    width: 80%;
    margin: auto;
}

#comment-section > form > input {
    display: block;
    justify-content: left;

}



